.container{
    width: 100%;
    height:86.9vh;
    background-color: brown;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tableDiv{
    width:80%;
    height:80%;
    background-color: azure;
}